/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #060606;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    padding: 40px 20px;
}

/* Header */
.header {
    text-align: center;
    margin-bottom: 40px;
}

.header h1 {
    font-size: 2.6rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.header .description {
    font-size: 1.2rem;
    font-weight: 400;
    color: #cccccc;
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.6;
}

.header .description2 {
    font-size: 1.6rem;
    font-weight: 400;
    font-color: #2bfb3f;
    color: #2bfb3f;
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.6;
}

/* Socials */
.socials {
    max-width: 700px;
    margin: auto;
}

.socials h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 600;
}

.social-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Social Cards */
.social-card {
    background: #141414;
    padding: 16px 21px;
    border-radius: 12px;
    border: 2px solid #1f1f1f;
    font-size: 1rem;
    display: block;
    text-decoration: none;
    color: white;
    transition: 0.25s ease;
}

.social-card:hover {
    background: #1c1c1c;
    transform: translateY(-2px);
}

.no-link {
    cursor: default;
}

/* Past Work / Gallery */
.past-work {
    max-width: 1400px;
    margin: 60px auto;
    padding: 0 20px;
}

.past-work h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 600;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
}

.gallery-item {
    width: auto;        /* Let image decide */
    height: auto;       /* Keep natural proportions */
    max-width: 100%;    /* Prevent overflow on small screens */
    border-radius: 16px;
    border: 1px solid #1f1f1f;
    cursor: pointer;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}
.gallery-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.6);
}

/* Lightbox */
#lightbox {
    display: none; /* hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#lightbox img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 12px;
}

#close {
    position: fixed;
    top: 20px;
    right: 30px;
    font-size: 3rem;
    color: white;
    cursor: pointer;
    z-index: 1001;
}
